<!DOCTYPE html>
<html>
    <head>
   
    <link rel="stylesheet" type="text/css" href="css-frames-style.css" />

    </head>
    <body>
        <div id="content-wrapper">
            <div id="content">
            Main content here
            </div>
        </div>
        <div id="header-wrapper">
            <div id="header">
            Header content here
            </div>
        </div>
        <div id="footer-wrapper">
            <div id="footer">
            Footer content here
            </div>
        </div>
    </body>
</html>